/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
/storage/debugbar
/public/hot
/public/build

.env
.env.*
Homestead.yaml
Homestead.json
auth.json
.phpunit.result.cache
.phpactor.json

.idea/
.vscode/
.fleet/
.zed/
.nova/
Thumbs.db
.DS_Store

*.log
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

.env.backup
.env.production
