@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInScale {
  animation: fadeInScale 1s ease-out forwards;
}
